In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Online Retail.csv", encoding= 'unicode_escape')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [3]:
df1 = df
df1.shape

(541909, 8)

In [4]:
df1=df1[['CustomerID','InvoiceDate','InvoiceNo','Quantity','UnitPrice']]

In [5]:
df1['TotalPurchase'] = df1['Quantity'] * df1['UnitPrice']
df1.head()

c:\Users\saurav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   CustomerID       InvoiceDate InvoiceNo  Quantity  UnitPrice  TotalPurchase
0     17850.0  01-12-2010 08:26    536365         6       2.55          15.30
1     17850.0  01-12-2010 08:26    536365         6       3.39          20.34
2     17850.0  01-12-2010 08:26    536365         8       2.75          22.00
3     17850.0  01-12-2010 08:26    536365         6       3.39          20.34
4     17850.0  01-12-2010 08:26    536365         6       3.39          20.34

In [6]:
# df1["InvoiceDate"] = pd.to_datetime(df1["InvoiceDate"])
# df1["Month"] = (df1["InvoiceDate"]).dt.month
# df1.head()

In [7]:
df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'])

df1=df1.groupby('CustomerID').agg({
'Quantity': lambda quant: quant.sum(),
'InvoiceNo': lambda num: len(num),
'TotalPurchase': lambda price: price.sum()})

c:\Users\saurav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df1.head()

            Quantity  InvoiceNo  TotalPurchase
CustomerID
12346.0            0          2           0.00
12347.0         2458        182        4310.00
12348.0         2341         31        1797.24
12349.0          631         73        1757.55
12350.0          197         17         334.40

In [9]:
df1.reset_index(inplace=True)
df1.head()

   CustomerID  Quantity  InvoiceNo  TotalPurchase
0     12346.0         0          2           0.00
1     12347.0      2458        182        4310.00
2     12348.0      2341         31        1797.24
3     12349.0       631         73        1757.55
4     12350.0       197         17         334.40

In [11]:
df1.to_csv("clv.csv",index=False)

In [10]:
len(df1)

4372

# one way to find customer lifetime value.

In [11]:
sum(df1['InvoiceNo']) # number of purchases.

406829

In [12]:
sum(df1['TotalPurchase']) # revune of the company.

8300065.814000012

In [14]:
apv = sum(df1['TotalPurchase'])/sum(df1['InvoiceNo'])
apv # average purchase value.

20.40185388455595

In [15]:
apfr = sum(df1['InvoiceNo'])/len(df1['CustomerID'])
apfr  # average purchase frequency rate.

93.05329368709972

In [16]:
cv = apv*apfr
cv # customer value

1898.4597012808813

In [17]:
acl = 2/len(df1['CustomerID'])
acl # average customer lifespan

0.0004574565416285453

In [18]:
cltv = cv*acl 
cltv # customer lifetime value.

0.8684628093691131

# new Approach for CLTV calculation.

In [20]:
value_cltv = sum(df1['TotalPurchase'])*2
round(value_cltv)

16600132

In [25]:
def func_1(CustomerID):
    data = df1[df1['CustomerID'] == CustomerID]
    value = data['TotalPurchase']

    # value = value.values.tolist()
    return int(value)
func_1(12346.0)

0

In [36]:
# somthing new but with old method.
# average purchase value.

def fun_apv(CustomerID):
    data = df1[df1['CustomerID'] == CustomerID]
    value = data['InvoiceNo']
    # print(value)
    value_1 = data['TotalPurchase']
    # print(value_1)

    apv = int(value_1)/int(value)
    return round(apv)
fun_apv(12347.0)

24

In [39]:
# apfr = sum(df1['InvoiceNo'])/len(df1['CustomerID'])
# apfr  
# # average purchase frequency rate.

def fun_apfr(CustomerID):
    data = df1[df1['CustomerID'] == CustomerID]
    value = data['InvoiceNo']
    # print(value)
    value_1 = len(data['TotalPurchase'])
    # print(value_1)

    apfr = int(value)/int(value_1)
    return round(apfr)
fun_apfr(12349.0)

73

In [42]:
# acl = 2/len(df1['CustomerID'])
# acl # average customer lifespan

def fun_acl(CustomerID):
    data = df1[df1['CustomerID'] == CustomerID]
    value = data['CustomerID']

    acl = 2/len(value)
    return round(acl)
fun_acl(12347.0)

2